/* ------------------------------------ GOOGLE FONTS ------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
/* ------------------------------------ GOOGLE FONTS ------------------------------------ */
/* ------------------------------------ ALL ------------------------------------ */
*, *::before, *::after {
    box-sizing: border-box;
}
/* ------------------------------------ ALL ------------------------------------ */
/* ------------------------------------ BODY ------------------------------------ */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ccc;
}
/* ------------------------------------ BODY ------------------------------------ */
/* ------------------------------------ TOPBAR ------------------------------------ */
.topbar {
    background-color: #292929;
    display: flex;
    align-items: center;
}
/* ------------------------------------ TOPBAR ------------------------------------ */
/* ------------------------------------ NAVBAR ------------------------------------ */
.navbar-title {
    color: #df4700;
    margin: 0 1%;
}

.navbar-links {
    z-index: 2;
    display: flex;
}

.navbar-links a {
    text-decoration: none;
    color: #ccc;
    margin: 0 10%;
    transition: color 0.3s;
}

.navbar-links a:first-child {
    margin-left: 50%;
}

.navbar-links a:last-child {
    margin-right: 0;
}

.navbar-links a:hover {
    color: #df4700;
    transition: color 0.3s;
}
/* ------------------------------------ NAVBAR ------------------------------------ */
/* ------------------------------------ SOCIAL ------------------------------------ */
.social {
    z-index: 1;
    width: 100%;
}

.social img {
    opacity: 0.5;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.social img:hover {
    transition: all 0.3s;
    opacity: 1;
}
/* ------------------------------------ SOCIAL ------------------------------------ */
/* ------------------------------------ RESPONSIVE TOPBAR ------------------------------------ */
@media only screen and (max-width: 650px) {
    .topbar {
        display: block;
    }

    .navbar-title {
        text-align: center;
    }

    .navbar-links a {
        margin: 1% 0;
        text-align: center;
    }

    .navbar-links a:first-child {
        margin-left: 0;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
    }

    .social {
        display: flex;
    }

    .social img {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
/* ------------------------------------ RESPONSIVE TOPBAR ------------------------------------ */
/* ------------------------------------ CATEGORIES ------------------------------------ */
.header {
    display: flex;
}

.gaming, .dev, .hacking {
    color: #fff;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    height: 500px;
    margin: 2%;
    transition: transform 330ms ease-in-out;
}

.gaming:hover, .dev:hover, .hacking:hover {
    color: #df4700;
    transform: scale(1.05);
    transition: all 330ms ease-in-out;
}

.gaming {
    background-image: url('../img/gaming.jpg');
}

.dev {
    background-image: url('../img/dev.jpg');
}

.hacking {
    background-image: url('../img/hacking.jpg');
}

.hacking h1, .gaming h1, .dev h1 {
    margin-top: 50%;
}

.gaming a, .dev a, .hacking a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    padding: 100%;
}

.gaming a:hover, .dev a:hover, .hacking a:hover {
    text-decoration: underline;
    color: #df4700;
    transition: all 0.3s;
}
/* ------------------------------------ CATEGORIES ------------------------------------ */
/* ------------------------------------ RESPONSIVE ------------------------------------ */
@media only screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }

    .gaming, .dev, .hacking {
        padding: 0;
        width: 96%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .gaming:hover, .dev:hover, .hacking:hover {
        color: #df4700;
        transform: scale(1.02);
        transition: all 330ms ease-in-out;
    }

    .header a {
        padding: 10%;
        display: flex;
        justify-content: center;
        margin-bottom: 35%;
    }
}
/* ------------------------------------ RESPONSIVE ------------------------------------ */